*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #ededff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.profile{
    width: 90%;
    max-width: 320px;
    background: #32384f;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;

}
.top-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.fa-heart{
    margin-right: 10px;

}
.user-img{
    width: 100px;
    border-radius: 50%;

}.profile h2{
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;

}
.profile p{
    font-size: 12px;
}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    background: linear-gradient(to right, #8d68c5, #e34494);
    display: inline-block;
    margin: 40px 0;
    font-size: 15px;

}
.social-media{
    display: flex;
    justify-content: space-around;

}
.social-media img{
    width: 60px;
    border-radius: 50%;
}
social-media h3{
    font-weight: 500;
    font-size: 16px

}
social-media div{
    margin: 10px 0 30px;
}
.footer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }